button {
  padding: 20px;
  background: #fdfdfd;
  border: solid 1px #ebebeb;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  color: #565656;
  margin: 5px;
  border: solid 3px #565656;
}

.current,
.all {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: solid 1px #bfbfbf;
  padding: 20px;
  margin-bottom: 20px;
}

.current h3,
.all h3 {
  margin-top: 0;
}

.current b,
.all b {
  display: inline-block;
  width: 150px;
}

button:hover {
  background: white;
  border: solid 3px #222222;
}

.example {
  cursor: pointer;
  font-family: sans-serif;
  height: 100%;
  width: 70%;
  outline: solid 1px #d7d7d7;
}

.sidepanel {
  width: 30%;
  min-width: 200px;
  padding: 20px;
  font-family: sans-serif;
  border-left: solid 2px #565656;
}

#keybind {
  font-family: sans-serif;
  background: white;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: solid 1px black;
  font-weight: bold;
  margin-left: 10px;
}
#info span {
  margin-bottom: 4px;
}

.sidepanel a {
  color: #27ccff;
  text-decoration-color: #27ccff;
  font-weight: bold;
}

#github {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdfdfd;
  border: solid 2px #bfbfbf;
  padding: 14px;
  border-radius: 20px;
  cursor: pointer;
}

#github img {
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}

.buttons {
  position: relative;
  top: 0;
  z-index: 1000;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .hideButton {
    display: none;
  }

  .example {
    width: 100%;
  }

  .sidepanel {
    width: 100%;
    padding: 0;
  }

  .sidepanel h1 {
    margin-left: 20px;
  }

  .info {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .current,
  .all {
    margin-left: 10px;
    margin-right: 10px;
    width: 50%;
  }

  .buttons {
    width: 50%;
  }
}
