name: CI

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Run linting
        run: npm run lint

  unused:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Run unused code checking
        run: npm run unused

  storybook-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Build terra-draw
        run: cd packages/terra-draw && npm run build
      - name: Build storybook
        run: cd packages/storybook && npm run storybook:build
    
  storybook-smoke-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Build terra-draw
        run: cd packages/terra-draw && npm run build
      - name: Install Playwright
        run: cd packages/storybook && npx playwright install
      - name: Build Storybook
        run: cd packages/storybook && npm run storybook:build
        env:
          GOOGLE_API_KEY: ${{ secrets.GOOGLE_API_KEY }}
          MAPBOX_ACCESS_TOKEN: ${{ secrets.MAPBOX_ACCESS_TOKEN }}
      - name: Run static Storybook build in the background
        run: cd packages/storybook && npm run storybook:serve &
      - name: Run storybook smoke tests
        run: cd packages/storybook && npm run storybook:test

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Ensure no package-lock.json changes
        run: git diff --exit-code
      - name: Build terra-draw
        run: cd packages/terra-draw && npm run build
      - name: Build terra-draw-arcgis-adapter
        run: cd packages/terra-draw-arcgis-adapter && npm run build
      - name: Build terra-draw-google-maps-adapter
        run: cd packages/terra-draw-google-maps-adapter && npm run build
      - name: Build terra-draw-leaflet-adapter
        run: cd packages/terra-draw-leaflet-adapter && npm run build
      - name: Build terra-draw-mapbox-gl-adapter
        run: cd packages/terra-draw-mapbox-gl-adapter && npm run build
      - name: Build terra-draw-maplibre-gl-adapter
        run: cd packages/terra-draw-maplibre-gl-adapter && npm run build
      - name: Build terra-draw-openlayers-adapter
        run: cd packages/terra-draw-openlayers-adapter && npm run build

  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Build terra-draw
        run: cd packages/terra-draw && npm run build
      - name: Test
        run: npm run test
        env:
          CI: true

  e2e-tests:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: "24.x"
    - name: Install parent directory
      run: npm ci
    - name: Build terra-draw
      run: cd packages/terra-draw && npm run build
    - name: Build terra-draw-leaflet-adapter
      run: cd packages/terra-draw-leaflet-adapter && npm run build
    - name: Get installed Playwright version
      id: playwright-version
      working-directory: ./packages/e2e
      run: echo "PLAYWRIGHT_VERSION=$(node -e "console.log(require('./package.json').devDependencies['@playwright/test'])")" >> $GITHUB_ENV
    - name: Cache playwright binaries
      uses: actions/cache@v4
      id: playwright-cache
      with:
        path: |
          ~/.cache/ms-playwright
        key: ${{ runner.os }}-playwright-${{ env.PLAYWRIGHT_VERSION }}
    - name: Install e2e test
      working-directory: ./packages/e2e
      run: npm ci --ignore-scripts
    - run: npx playwright install --with-deps
      working-directory: ./packages/e2e
      if: steps.playwright-cache.outputs.cache-hit != 'true'
    - run: npx playwright install-deps
      working-directory: ./packages/e2e
      if: steps.playwright-cache.outputs.cache-hit != 'true'
    - name: Run Playwright tests
      working-directory: ./packages/e2e
      run: npm run test
    
  api-benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
      - name: Install Parent Folder
        run: npm ci
      - name: Benchmark
        run: cd packages/terra-draw && npm run benchmark
        env:
          CI: true