name: PR Conventional Commit Validation

permissions: 
  pull-requests: read

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  validate-pr-title:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: "24.x"
      - name: Install packages
        run: npm ci
      - name: PR Conventional Commit Validation Against Commit Lint Config
        env:
            TITLE: ${{ github.event.pull_request.title }}
        run: echo "$TITLE" | npx commitlint